//baseWidth
$baseWidth1:1000px; //dummy

// Breakpoint
$breakpoint1:767px;

// Common Colors
//$color1:#;
//$color2:#;
//$color3:#;

// link color
$link:#000;
$hover:#900;
$active:#900;
$visited:#000;