@charset "UTF-8";
/*------------------------------------------------------------
	Reset
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, menu, nav, section,
time, mark, audio, video {
  font-size: 1em;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option,
h1, h2, h3, h4, h5, h6 {
  font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

a,
a img {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

a:hover,
a:hover img {
  opacity: 0.80;
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
}

a:link {
  color: #000;
}

a:hover {
  color: #900;
}

a:active {
  color: #900;
}

a:visited {
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
}

.sp-only {
  display: none;
}

@media screen and (max-width: 767px) {
  .pc-only {
    display: none;
  }
  .sp-only {
    display: block;
  }
  img {
    max-width: 100%;
    height: auto;
  }
}

/*------------------------------------------------------------

------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------

------------------------------------------------------------*/
/* 
------------------------------------------------------------*/
/*------------------------------------------------------------

------------------------------------------------------------*/
/* 
------------------------------------------------------------*/
/*------------------------------------------------------------
	layout
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
body {
  padding: 20px;
  font-size: 1.4rem;
}

.c-title1 {
  border-bottom: 5px solid #000;
  padding-bottom: 15px;
  margin-bottom: 30px;
  font-weight: bold;
}

.c-title2 {
  font-weight: bold;
  color: #F00;
  font-size: 2.0rem;
  margin-top: 30px;
}

.c-img1 {
  margin-top: 30px;
}

.c-img1 img {
  max-width: 100%;
}

.c-text1 .c-img1 {
  margin-top: 60px;
  margin-bottom: 30px;
}

.c-text1 {
  margin-top: 30px;
}

.c-text1 p {
  margin-top: 10px;
  line-height: 1.6;
}

.c-text1 p + p {
  margin-top: 10px;
}

.c-text1 + .c-img1 {
  margin-top: 40px;
  padding-top: 40px;
  border-top: 3px solid #333;
}

/*------------------------------------------------------------

------------------------------------------------------------*/
/* 
------------------------------------------------------------*/
/*------------------------------------------------------------

------------------------------------------------------------*/
/* 
------------------------------------------------------------*/
/*------------------------------------------------------------

------------------------------------------------------------*/
/* 
------------------------------------------------------------*/
/*------------------------------------------------------------
	list
------------------------------------------------------------*/
/* 1
------------------------------------------------------------*/
.c-list1 li {
  margin-bottom: 15px;
  list-style-type: none;
}

.c-list1 a {
  display: inline-block;
  padding-left: 15px;
  position: relative;
  text-decoration: underline;
}

.c-list1 a:before {
  font-family: FontAwesome;
  content: '\f105';
  display: inline-block;
  position: absolute;
  font-size: 1.8rem;
  left: 0;
  top: 0.1em;
}

/*------------------------------------------------------------

------------------------------------------------------------*/
/* 
------------------------------------------------------------*/
/*------------------------------------------------------------
							Nav
------------------------------------------------------------*/
/*------------------------------------------------------------

------------------------------------------------------------*/
/* 
------------------------------------------------------------*/
/*------------------------------------------------------------

------------------------------------------------------------*/
/* 
------------------------------------------------------------*/
/*------------------------------------------------------------

------------------------------------------------------------*/
/* 
------------------------------------------------------------*/
/*------------------------------------------------------------
margin
------------------------------------------------------------*/
.u-mt0 {
  margin-top: 0px !important;
}

.u-mt5 {
  margin-top: 5px !important;
}

.u-mt10 {
  margin-top: 10px !important;
}

.u-mt15 {
  margin-top: 15px !important;
}

.u-mt20 {
  margin-top: 20px !important;
}

.u-mt25 {
  margin-top: 25px !important;
}

.u-mt30 {
  margin-top: 30px !important;
}

.u-mt35 {
  margin-top: 35px !important;
}

.u-mt40 {
  margin-top: 40px !important;
}

.u-mt45 {
  margin-top: 45px !important;
}

.u-mt50 {
  margin-top: 50px !important;
}

.u-mb0 {
  margin-bottom: 0px !important;
}

.u-mb5 {
  margin-bottom: 5px !important;
}

.u-mb10 {
  margin-bottom: 10px !important;
}

.u-mb15 {
  margin-bottom: 15px !important;
}

.u-mb20 {
  margin-bottom: 20px !important;
}

.u-mb25 {
  margin-bottom: 25px !important;
}

.u-mb30 {
  margin-bottom: 30px !important;
}

.u-mb35 {
  margin-bottom: 35px !important;
}

.u-mb40 {
  margin-bottom: 40px !important;
}

.u-mb45 {
  margin-bottom: 45px !important;
}

.u-mb50 {
  margin-bottom: 50px !important;
}

/*------------------------------------------------------------
Anchor position
------------------------------------------------------------*/
/*------------------------------------------------------------
for develop browser-sync
------------------------------------------------------------*/
#__bs_notify__ {
  opacity: 0.3 !important;
  font-size: 5px !important;
  line-height: 100% !important;
  padding: 0 5px 0 5px !important;
  border-radius: 0 !important;
}

/*------------------------------------------------------------
Color
------------------------------------------------------------*/
/*------------------------------------------------------------
Adjust tracking tag space
------------------------------------------------------------*/
.trackTags {
  display: none;
}
