.l-header{
    background-color: #000;
    padding-top: 15px;
    padding-bottom: 10px; 
    border-bottom: 2px solid red;
    .c-hBox{
        max-width: 1000px;
        overflow: hidden;
        margin: 0 auto;
        display: block;
        &__logo{
            float: left;
            div{
                display: table;
                img{
                    display: table-cell;
                    vertical-align: middle;
                }
            }  
        }
        &__rNavi{
            float: right;
            width: 600px;
            ul{
                list-style-type: none;
                display: table;
                position: relative;
                li{
                    display: table-cell;
                    text-align: center;
                    position: relative;
                    border-right: 1px solid #666;
                    padding: 7px 15px;
                    a{
                        color: #fff;
                        text-decoration: none;
                        font-weight: bold;
                        span{
                            display: block;
                            font-size: 12px;
                            color: #777;
                        }
                    }
                }
            }
        }
    }
}

.activeNav{
    color: #ff0000 !important;
    border-bottom: 1px solid #ff0000;
}

/*-------------------------------------------------------------------
    Path
--------------------------------------------------------------------*/
.c-path{
    padding: 10px 0 5px;
    background: #313131;
    background: linear-gradient(#333333,#313131);
    ul{
        margin: 0 auto;
        max-width: 1000px;
        li{
            display: inline-block;
            padding-right: 20px;
            font-size: 12px;
            background: url(../images/icon_arrow_01.png) no-repeat right center;
            &:last-of-type{
                margin-right: 0;
                padding-right: 0;
                background: none;
                a{
                    text-decoration: none;
                    border-bottom: 1px solid red;
                    padding-bottom: 1px;
                }
            }
            &:first-of-type{
                a{
                    text-decoration: none;
                }
            }
            a{
                color: #fff;
            }
        }
        
    }
}

