/*------------------------------------------------------------
	layout
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
body{
	padding: 20px;
	font-size: 1.4rem;
}

.c-title1{
	border-bottom: 5px solid #000;
	padding-bottom: 15px;
	margin-bottom: 30px;
	font-weight: bold;
}

.c-title2{
	font-weight: bold;
	color: #F00;
	font-size: 2.0rem;
	margin-top: 30px;
}

.c-img1{
	margin-top: 30px;
	img{
		max-width: 100%;
	}
}

.c-text1{
	.c-img1{
		margin-top: 60px;
		margin-bottom: 30px;
	}
}


.c-text1{
	margin-top: 30px;
	p{
		margin-top: 10px;
		line-height: 1.6;
		+ p{
			margin-top: 10px;
		}
	}
}


.c-text1 + .c-img1{
	margin-top: 40px;
	padding-top: 40px;
	border-top: 3px solid #333;

}

