
/*------------------------------------------------------------
	list
------------------------------------------------------------*/

/* 1
------------------------------------------------------------*/
.c-list1{
	li{
		margin-bottom: 15px;
		list-style-type: none;
	}
	a{
		display: inline-block;
		padding-left: 15px;
		position: relative;
		text-decoration: underline;
		&:before{
			font-family: FontAwesome;
			content: '\f105';
			display: inline-block;
			position: absolute;
			font-size: 1.8rem;
			left: 0;
			top: 0.1em;
		}
	}
}